@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  #btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  #btn:hover {
    background-color: #0056b3;
  }
  
  #root {
    margin-top: 20px;
    text-align: center;
  }
  
  
.flagsList {
    list-style-type: none; 
    padding: 0; 
  }
  
  
  .flagsList li {
    margin-bottom: 5px; 
    font-weight: bold; 
    color: #333; 
  }
  